@font-face {
    font-family: "Montserrat", sans-serif;
    src: url('href="https://fonts.googleapis.com/css2?family=Boldonse&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body {
    height: 1500px;
}

* {
    font-family: 'Montserrat';
    text-decoration: none;
    color: #333333;
}

button:hover{
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.wrap {
    position: sticky; 
    top: 0;
}
header {
    border-bottom: 1px solid #00000012;
    background-color: #fff;
}

.first__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.header__items {
    width: 100%;
    justify-content: space-between;
    margin: 0 120px 0 120px;
}

.header__icons {
    gap: 16px;
}

.b-header {
    font-size: 20px;
    color: #888888;
}

.b-header-call {
    font-size: 14px;
    color: #888888;
}

.header-number-call {
    font-size: 1rem;
    font-weight: 600;
}

.logo {
    justify-content: center;
}

.logo img {
    width: 144px;
    height: 50px;
}

.second__header {
    height: 100px;
}

.second__header__content {
    height: 100%;
    margin: 0 120px 0 100px;
    align-items: center;
    justify-content: space-between;
}

.button {
    align-content: center;
    width: 151px;
    height: 41px;
    border-radius: 10px;
    color: white;
    background-color: #E9B902;
    border: none;
    font-size: 0.9em;
}

.element {
    gap: 24px;
    font-weight: bold;
    font-size: 1rem;
}

.b-second-header-search {
    font-size: 19px;
    color: #888888;

}
.main__container{
    margin: 60px 120px 0 120px;
    width: 100%;
    
}
.element-button {
    gap: 32px;
    flex-direction: row;
    align-items: center;
}